/*ID CSS*/
#header1 {
    margin-bottom: 2px;
    color: green;
    font-style: inherit;
    font-weight: bold;
}

/*CLASS CSS*/
.btn-primary{
    background-color: gold !important;
    color: green;
    font-weight: bold;
}